$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$primary-color: #409EFF;
$info-color: #909399;

$white-text-color: #FFFFFF;
$header-text-color: #CBCED4; // header
$bottom-text-color: #97A1AF; // bottom
$tab-text-color: #151C29; // tab页和tittle
$content-text-color: #6B798E;

$border-color: #e5e5e5;

$font-size-small: 12px;
$font-size-middle: 14px;
$font-size-large: 16px;

$padding-large: 20px;
$padding-middle: 10px;

$margin-large: 20px;
$magin-middle: 10px;