.account-compare-wrap {
  margin: 20px;
}
.account-compare-title {
  margin: 10px 0;
}
.account-compare-title p:nth-child(1) {
  font-size: 18px;
  color: #151C29;
}
.account-compare-title p:nth-child(2) {
  font-size: 14px;
  color: #6B798E;
  margin-left: 5px;
}
.search-mater-theme-com::before {
  width: 4px;
  height: 18px;
  content: '';
  float: left;
  margin-right: 13px;
  margin-top: 4px;
  background: #498BFE;
}
.account-compare-main {
  width: 100%;
  margin-top: 20px;
  
}
.add-compare-msg {
  width: 100%;
  height: 140px;
  display: flex;
  position: relative;
  background: #F7F8FA;
  box-sizing: border-box;
  border: 1px solid #97BDFE;
}
.add-right-btn {
  width: 30px;
  padding: 5px 0;
  box-sizing: content-box;
  text-align: center;
  background: #409EFF;
  cursor: pointer;
  position: absolute;
  right: -28px;
  top: 15px;
}
.add-compare-range {
  width: 185px;
}
.add-compare-range .el-select {
  width: 134px;
}
.add-compare-range .el-form-item__label {
  padding: 0 2px 0 0;
}
.add-compare-range .el-input__inner {
  padding: 0 5px;
}
.add-compare-range .el-select .el-tag {
  margin: 2px 0 2px 2px;
}
.add-compare-range .el-tag--mini {
  padding: 0 3px;
}
.add-compare-range  .el-select .el-tag__close.el-icon-close {
  right: -3px;
}
.add-compare-btn {
  width: 120px;
}
.add-compare-range .el-form--inline .el-form-item {
  margin-left: 10px;
}
.add-compare-account {
  flex: 1;
  display: flex;
}
.add-compare-account li {
  width: 220px;
  position: relative;
  box-sizing: border-box;
  border-left: 1px solid #97BDFE;
}
.add-compare-del {
  position: absolute;
  top: 15px;
  right: 15px;
  color: red;
  font-size: 18px;
  cursor: pointer;
}
.add-compare-ava {
  margin: 23px 0 15px;
}
.add-compare-ava>p {
  font-size: 18px;
}
.add-compare-ava>img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.compare-msg-name p:nth-child(1) {
  font-size: 16px;
}
.compare-msg-name p {
  color: #151C29;
}
.add-compare-table .el-table {
  margin-top: 0;
}
.first-box{
  width: 185px;
  padding: 12px 0 12px 20px;
}
.first-box p{
  text-align: left;
}
.add-compare-center {
  /* padding: 12px 0; */
  display: flex;
}
.add-compare-center p {
  color: #727F94;
  line-height: 30px;
}
.add-compare-center p span {
  color: #000000;
  padding: 0 5px;
}
.compare-table-right {
  flex: 1;
}
.compare-table-cont {
  float: left;
  padding: 12px 0;
  box-sizing: border-box;
  border-left: 1px solid #F0F1F3;
  /* border: 1px solid #97BDFE; */
}
.add-compare-top{
  padding: 0 20px;
  height: 40px;
  background-color: #f7f8fa;
}
.compare-name {
  font-size: 16px;
  font-weight: bold;
  color: #3b82fe;
}
.compare-button {
  font-size: 14px;
  color: #000000;
  cursor: pointer;
}
.compare-button i {
  margin-left: 5px;
}
.compare-person .el-input {
  margin-bottom: 15px;
}
.compare-company .el-select {
  margin-left: 10px;
}
.com-company-box {
  margin-top: 20px;
  display: flex;
}
.company-boc-tree {
  width: 320px;
}
.company-boc-table {
  flex: 1;
}
.company-boc-table .el-table td{
  padding: 8px 0;
}
.company-boc-table .el-table {
  margin-top: 0;
}
.sel-depart-main {
  width: 280px;
  border: 1px solid #e1e4e8;
}
.sel-depart-main>p {
  padding: 10px 0;
  text-align: center;
  color: #3b82fe;
  background: #f7f8fa;
}
.sel-depart-box {
  height: 500px;
  overflow-y: scroll;
}
.sel-depart-box::-webkit-scrollbar {
  background: transparent;
}
.sel-depart-box::-webkit-scrollbar-thumb,
.sel-depart-tab:hover {
  background: #f7f8fa;
}
.sel-depart-tab {
  height: 50px;
  padding: 2px 10px;
}
.sel-depart-tab img,
.compare-depart-jichu img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin-right: 10px;
}
.compare-depart-jichu>div {
  margin: 8px;
}
.add-compare-btn{
  color: #3B82FE;
  border:1px solid #3b82fe;
  border-radius: 4px;
}