.home-right-fixed {
  position: fixed;
  bottom: 240px;
  right: 1px;
  width: 75px;
  z-index: 999;
  box-shadow: 0.5px 0.5px 5px #cccccc;
  i {
    font-size: 26px;
    margin-bottom: 5px;
    line-height: 30px;
  }
  .home-fixed-up {
    height: 75px;
    color: $white-text-color;
    background: $primary-color;
  }
  .home-fixed-down {
    height: 75px;
    background: $white-text-color;
    i {
      color: $primary-color;
    }
  }
  .el-backtop {
    width: 75px;
    border-radius: 0;
    box-shadow: 0.5px 0.5px 5px #cccccc;
  }
}
.el-popover{
  padding: 0;
}