/* header-nav */
.header-wrap .el-menu {
  background: #151c29;
}
.header-wrap .el-menu--horizontal>.el-submenu.is-active .el-submenu__title,
.header-wrap .el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: 4px solid #3b81fe;
  color: #ffffff !important;
}
.header-wrap .el-menu--horizontal > .el-menu-item:not(.is-disabled):focus,
.header-wrap .el-menu--horizontal > .el-menu-item:not(.is-disabled):hover,
.header-wrap .el-menu--horizontal > .el-submenu .el-submenu__title:hover,
.header-wrap .el-menu--horizontal > .el-menu-item.is-active {
  background: rgb(50, 60, 78);
}
.header-wrap .el-menu-item,
.header-nav .el-submenu .el-submenu__title {
  font-size: 16px;
  color: #cbced4 !important;
}
.header-wrap .el-menu.el-menu--horizontal {
  border-bottom: none;
}
.header-nav .el-submenu .el-submenu__title {
  padding: 0 20px !important;
  box-sizing: border-box;
}
.header-nav .is-active .el-submenu__title{
  color: #fff !important;
}

.header-wrap {
  width: 100%;
  height: 60px;
  background: #151c29;
}
.header-container {
  max-width: 1400px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.header-right {
  width: 100%;
  height: 100%;
  display: flex;
}
.header-nav {
  flex: 1;
}
.header-msg {
  min-width: 270px;
}
.header-msg ul {
  width: 100px;
  height: 100%;
}
.header-msg ul li i {
  font-size: 20px;
}
.header-msg ul li,
.header-avatar span {
  color: #ffffff;
  font-size: 15px;
  line-height: 1;
}
.header-avatar span,
.header-avatar {
  margin-left: 8px;
}

/* bottom */
.bottom-wrap {
  width: 100%;
}
.bottom-container {
  height: 305px;
  background: #151c29;
}
.bottom-main {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}
.bottom-left {
  width: 250px;
}
.bottom-left img {
  width: 55px;
  height: 55px;
}
.bottom-left p:nth-child(1),
.bottom-left p:nth-child(2) {
  font-size: 14px;
  color: #ffffff;
  line-height: 35px;
}
.bottom-left p:nth-child(3) {
  width: 85px;
  height: 30px;
  line-height: 30px;
  margin-top: 25px;
  cursor: pointer;
  text-align: center;
  color: #6b798e;
  border-radius: 5px;
  border: 1px solid #6b798e;
}
.bottom-right {
  width: 775px;
  height: 160px;
  padding: 0 5px;
}
.bottom-right ul {
  height: 155px;
}
.bottom-right-title {
  font-size: 14px;
  line-height: 35px;
  color: #97a1af;
}
.bottom-right-centent {
  font-size: 12px;
  line-height: 30px;
  color: #6b798e;
  cursor: pointer;
}
.bottom-footer {
  height: 51px;
  background: #090e19;
}
.bottom-footer p {
  font-size: 14px;
  color: #6b798e;
}
.bottom-code img {
  width: 103px;
  height: 103px;
  margin-top: 15px;
}
.text-center {
  text-align: center;
}
.bottom-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
.header-logo {
  width: 120px;
}